<div class="flex justify-between items-center gap-4 h-full md:p-6">
  <section class="md:w-2/5 flex flex-col justify-evenly md:flex md:flex-col md:items-center md:justify-center h-full bg-primary-color md:rounded-lg">
    <div class="flex items-center flex-col text-center">
      <h1 class="font-poppins font-bold text-3xl text-second-color">BEM VINDO AO NEPA</h1>
      <h3 class="font-poppins font-bold text-tertiary-color">Núcleo de Extensão e Pesquisa acadêmica</h3>
      <img src="/assets/logo-nepa.png" class=" animate-pulse" height="100" width="100">
    </div>
    <form [formGroup]="form" (submit)="register()" class="w-full flex flex-col items-center justify-center p-4">
      <div class="flex flex-col gap-2 p-2 md:gap-6 md:w-2/3">
        <div class="flex flex-col text-second-color">
          <label for="name" class="font-bold text-base font-lato">Nome:<span class="text-red-600">*</span></label>
          <input type="text" id="name" name="name" class="bg-transparent rounded-md border-2 border-second-color" formControlName="nome">
          @if (form.get('nome')?.touched) {
            @if (form.get('nome')?.errors?.['required']) {
              <small class="font-bold text-red-600">Campo obrigatório</small>
            } @else if (form.get('nome')?.errors?.['minlength']) {
              <small class="font-bold text-red-600">O nome deve possuir no mínimo 3 caracteres!</small>
            }
          }
        </div>
        <div class="flex flex-col text-second-color">
          <label for="email" class="font-bold text-base font-lato">Email:<span class="text-red-600">*</span></label>
          <input type="email" id="email" name="email" class="bg-transparent rounded-md border-2 border-second-color" formControlName="email">
          @if (form.get('email')?.touched) {
            @if (form.get('email')?.errors?.['required']) {
              <small class="font-bold text-red-600">Campo obrigatório</small>
            } @else if (form.get('email')?.errors?.['email']) {
              <small class="font-bold text-red-600">Insira um email válido!</small>
            }
          }
        </div>
        <div class="grid grid-cols-2 gap-4">
          <div class="flex flex-col text-second-color">
            <label for="registration" class="font-bold text-base font-lato">Matrícula:<span class="text-red-600">*</span></label>
            <input type="text" id="registration" name="registration" class="bg-transparent rounded-md border-2 border-second-color" formControlName="matricula">
            @if (form.get('matricula')?.touched) {
              @if (form.get('matricula')?.errors?.['required']) {
                <small class="font-bold text-red-600">Campo obrigatório</small>
              } @else if (form.get('matricula')?.errors?.['minlength']) {
                <small class="font-bold text-red-600">A matrícula deve possuir no mínimo 6 dígitos!</small>
              }
            }
          </div>
          <div class="flex flex-col text-second-color">
            <label for="course" class="font-bold text-base font-lato">Curso:<span class="text-red-600">*</span></label>
            <select id="course" class="bg-transparent rounded-md border-2 border-second-color" formControlName="curso">
              <option class="text-black" value="Educação Física">Ed. Física</option>
              <option class="text-black" value="Ciências da Computação">C. da Computação</option>
              <option class="text-black" value="Marketing">Marketing</option>
              <option class="text-black" value="Direito">Direito</option>
              <option class="text-black" value="Filosofia">Filosofia</option>
            </select>
            @if (form.get('curso')?.touched) {
              @if (form.get('curso')?.errors?.['required']) {
                <small class="font-bold text-red-600">Campo obrigatório</small>
              }
            }
          </div>
        </div>
        <div class="grid grid-cols-2 gap-4">
          <div class="flex flex-col text-second-color">
            <label for="password" class="font-bold text-base font-lato">Senha:<span class="text-red-600">*</span></label>
            <input type="password" id="password" name="password" class="bg-transparent rounded-md border-2 border-second-color" formControlName="password">
            @if (form.get('password')?.touched) {
              @if (form.get('password')?.errors?.['required']) {
                <small class="font-bold text-red-600">Campo obrigatório</small>
              } @else if (form.get('password')?.errors?.['minlength']) {
                <small class="font-bold text-red-600">A senha deve possuir no mínimo 6 dígitos!</small>
              } @else if (form.get('password')?.errors?.['pattern']) {
                <small class="font-bold text-red-600">A senha deve conter letras e números!</small>
              }
            }
          </div>
          <div class="flex flex-col text-second-color">
            <label for="confirm-password" class="font-bold text-base font-lato">Confirmar senha:<span class="text-red-600">*</span></label>
            <input type="password" id="confirm-password" name="confirm-password" class="bg-transparent rounded-md border-2 border-second-color" formControlName="confirmPassword">
            @if (form.get('password')?.touched) {
              @if (form.errors?.['passwordMismatch']) {
                <small class="font-bold text-red-600">As senhas não conferem!</small>
              }
            }
          </div>
        </div>
        <div class="grid grid-cols-2 gap-4">
          <div class="flex flex-col text-second-color">
            <label for="role" class="font-bold text-base font-lato">Tipo de usuário:<span class="text-red-600">*</span></label>
            <select id="role" class="bg-transparent rounded-md border-2 border-second-color" formControlName="role">
              <option class="text-black" value="professor">Professor</option>
              <option class="text-black" value="aluno">Aluno</option>
            </select>
            @if (form.get('role')?.touched) {
              @if (form.get('role')?.errors?.['required']) {
                <small class="font-bold text-red-600">Campo obrigatório</small>
              }
            }
          </div>
          <div class="flex flex-col text-second-color">
            <label for="phone" class="font-bold text-base font-lato">Telefone:<span class="text-red-600">*</span></label>
            <input type="text" id="phone" name="id" class="bg-transparent rounded-md border-2 border-second-color" formControlName="telefone" mask="(00) 0 0000-0000">
            @if (form.get('telefone')?.touched) {
              @if (form.get('telefone')?.errors?.['required']) {
                <small class="font-bold text-red-600">Campo obrigatório</small>
              } @else if (form.get('telefone')?.errors?.['minlength']) {
                <small class="font-bold text-red-600">O telefone deve possuir no mínimo 11 caracteres!</small>
              }
            }
          </div>
        </div>
        <p class="text-second-color text-base font-lato font-bold">Já possui conta?<a routerLink="/login" routerLinkActive="active" class="font-bold text-tertiary-color"> Realize o login</a></p>
        <app-btn-login-register [text]="'CADASTRAR USUÁRIO'" />
      </div>
    </form>
  </section>
  <section class="relative hidden flex-1 justify-evenly md:flex md:flex-col md:items-center md:justify-center h-full filter drop-shadow-xl">
    <img class="absolute top-50 left-50 z-10" src="/assets/logo-catolica.png" alt="">
    <figure class="h-full cursor-pointer filter grayscale opacity-55 drop-shadow-sm">
      <img class="rounded-lg h-full bg-cover" src="/assets/background-register.jpg">
    </figure>
  </section>
</div>