<div class="flex justify-between items-center h-full">
  <picture class="h-full w-2/5 hidden md:flex justify-center items-center">
    <img src="/assets/logo-catolica.png" alt="Logo da Faculdade Católica da Paraíba">
  </picture>
  <section class="relative flex flex-col justify-evenly md:flex md:flex-col md:items-center md:justify-center h-full flex-1 bg-primary-color md:rounded-tl-[60px] md:rounded-bl-[60px]">
    <div class="md:absolute md:top-5 texts text-second-color text-center">
      <h1 class="font-koulen text-5xl md:text-7xl text-second-color">BEM VINDO AO NEPA</h1>
      <h3 class="font-lato text-3xl md:text-5xl">Núcleo de Extensão e Pesquisa acadêmica</h3>
    </div>
    <form class="w-full flex flex-col items-center justify-center">
      <div class="flex flex-col gap-4 w-2/3">
        <app-inputs [id]="'name'" [label]="'Nome'" [type]="'text'"/>
        <app-inputs [id]="'email'" [label]="'Email'" [type]="'email'"/>
        <app-inputs [id]="'password'" [label]="'Senha'" [type]="'password'"/>
        <p class="text-second-color text-base font-lato">Já possui conta?<a routerLink="/login" routerLinkActive="active" class="font-bold text-tertiary-color"> Realize o login</a></p>
        <app-btn-login-register [text]="'CADASTRAR USUÁRIO'" />
      </div>
    </form>
  </section>
</div>