<div class="flex justify-between items-center gap-4 h-full md:p-2">
  <section class="w-full md:w-2/3 lg:w-2/5 flex flex-col justify-evenly md:flex md:flex-col md:items-center md:justify-center h-full bg-primary-color md:rounded-lg">
    <div class="flex items-center flex-col text-center">
      <h1 class="font-poppins font-bold text-3xl text-second-color">BEM VINDO AO NEPA</h1>
      <h3 class="font-poppins font-bold text-tertiary-color">Núcleo de Extensão e Pesquisa acadêmica</h3>
    </div>
    <form [formGroup]="form" (submit)="register()" class="w-full flex flex-col items-center justify-center p-2">
      <div class="flex flex-col gap-2 md:gap-6">
        <div class="flex flex-col text-second-color ">
          <label for="role" class="font-bold text-base font-lato">Tipo de usuário:<span class="text-red-600">*</span></label>
          <select id="role" class="bg-transparent rounded-md border-2 border-second-color" formControlName="role">
            <option class="text-black" value="" selected>Selecione o tipo de usuário...</option>
            <option class="text-black" value="professor">Professor</option>
            <option class="text-black" value="aluno">Aluno</option>
          </select>
          @if (form.get('role')?.touched && formSubmitted) {
            @if (form.get('role')?.errors?.['required']) {
              <small class="font-bold text-red-600">Campo obrigatório</small>
            }
          }
        </div>
        <div class="flex flex-col text-second-color">
          <label for="name" class="font-bold text-base font-lato">Nome:<span class="text-red-600">*</span></label>
          <input type="text" id="name" name="name" class="bg-transparent rounded-md border-2 border-second-color" formControlName="nome" placeholder="Insira seu nome completo">
          @if (form.get('nome')?.touched && formSubmitted) {
            @if (form.get('nome')?.errors?.['required']) {
              <small class="font-bold text-red-600">Campo obrigatório</small>
            } @else if (form.get('nome')?.errors?.['minlength']) {
              <small class="font-bold text-red-600">O nome deve possuir no mínimo 3 caracteres!</small>
            }
          }
        </div>
        <div class="flex flex-col text-second-color">
          <label for="email" class="font-bold text-base font-lato">Email:<span class="text-red-600">*</span></label>
          <input type="email" id="email" name="email" class="bg-transparent rounded-md border-2 border-second-color" formControlName="email" placeholder="exemplo@exemplo.com">
          @if (form.get('email')?.touched && formSubmitted) {
            @if (form.get('email')?.errors?.['required']) {
              <small class="font-bold text-red-600">Campo obrigatório</small>
            } @else if (form.get('email')?.errors?.['email']) {
              <small class="font-bold text-red-600">Insira um email válido!</small>
            }
          }
        </div>
        <div class="flex items-center justify-between gap-2">
          @if (form.get('role')?.value === 'professor') {
            <div class="w-full flex flex-col text-second-color">
              <label for="course_code" class="font-bold text-base font-lato">Código do curso:<span class="text-red-600">*</span></label>
              <input type="text" id="course_code" name="course_code" class="bg-transparent rounded-md border-2 border-second-color" formControlName="codigo_curso" placeholder="Insira o código do seu curso">
              @if (form.get('codigo_curso')?.touched && formSubmitted) {
                @if (form.get('codigo_curso')?.errors?.['required']) {
                  <small class="font-bold text-red-600">Campo obrigatório</small>
                } @else if (form.get('codigo_curso')?.errors?.['minlength']) {
                  <small class="font-bold text-red-600">O nome deve possuir 7 caracteres!</small>
                }
              }
            </div>
          } @else {
            <div class="flex flex-col text-second-color">
              <label for="registration" class="font-bold text-base font-lato">Matrícula:<span class="text-red-600">*</span></label>
              <input type="text" id="registration" name="registration" class="bg-transparent rounded-md border-2 border-second-color" mask="00000000" formControlName="matricula" placeholder="Insira a sua matrícula">
              @if (form.get('matricula')?.touched && formSubmitted) {
                @if (form.get('matricula')?.errors?.['required']) {
                  <small class="font-bold text-red-600">Campo obrigatório</small>
                } @else if (form.get('matricula')?.errors?.['minlength']) {
                  <small class="font-bold text-red-600">A matrícula deve possuir no mínimo 8 dígitos!</small>
                }
              }
            </div>
            <div class="w-full flex flex-col text-second-color">
              <label for="course" class="font-bold text-base font-lato">Curso:<span class="text-red-600">*</span></label>
              <select id="course" class="bg-transparent rounded-md border-2 border-second-color" formControlName="curso">
                <option class="text-black" value="" selected>Selecione seu curso...</option>
                <option class="text-black" value="Educação Física">Ed. Física</option>
                <option class="text-black" value="Ciência da Computação">C. da Computação</option>
                <option class="text-black" value="Marketing">Marketing</option>
                <option class="text-black" value="Direito">Direito</option>
                <option class="text-black" value="Filosofia">Filosofia</option>
              </select>
              @if (form.get('curso')?.touched && formSubmitted) {
                @if (form.get('curso')?.errors?.['required']) {
                  <small class="font-bold text-red-600">Campo obrigatório</small>
                }
              }
            </div>
          }
        </div>
        <div class="flex items-center justify-between gap-2">
          <div class="flex flex-col text-second-color">
            <label for="password" class="font-bold text-base font-lato">Senha:<span class="text-red-600">*</span></label>
            <input type="password" id="password" name="password" class="bg-transparent rounded-md border-2 border-second-color" formControlName="password" placeholder="Insira uma senha">
            @if (form.get('password')?.touched && formSubmitted) {
              @if (form.get('password')?.errors?.['required']) {
                <small class="font-bold text-red-600">Campo obrigatório</small>
              } @else if (form.get('password')?.errors?.['minlength']) {
                <small class="font-bold text-red-600">A senha deve possuir no mínimo 8 dígitos!</small>
              }
            }
          </div>
          <div class="flex flex-col text-second-color">
            <label for="confirm-password" class="font-bold text-base font-lato">Confirmar senha:<span class="text-red-600">*</span></label>
            <input type="password" id="confirm-password" name="confirm-password" class="bg-transparent rounded-md border-2 border-second-color" formControlName="confirmPassword" placeholder="confirme sua senha">
            @if (form.get('password')?.touched && formSubmitted) {
              @if (form.errors?.['passwordMismatch']) {
                <small class="font-bold text-red-600">As senhas não conferem!</small>
              }
            }
          </div>
        </div>
        <div class="flex flex-col text-second-color">
          <label for="phone" class="font-bold text-base font-lato">Telefone:<span class="text-red-600">*</span></label>
          <input type="text" id="phone" name="id" class="bg-transparent rounded-md border-2 border-second-color" formControlName="telefone" mask="(00) 0 0000-0000" placeholder="Insira seu telefone">
          @if (form.get('telefone')?.touched && formSubmitted) {
            @if (form.get('telefone')?.errors?.['required']) {
              <small class="font-bold text-red-600">Campo obrigatório</small>
            } @else if (form.get('telefone')?.errors?.['minlength']) {
              <small class="font-bold text-red-600">O telefone deve possuir no mínimo 11 caracteres!</small>
            }
          }
        </div>
        <p class="text-second-color text-base font-lato font-bold">Já possui conta?<a routerLink="/login" routerLinkActive="active" class="font-bold text-tertiary-color"> Realize o login</a></p>
        <app-btn-login-register [text]="'CADASTRAR USUÁRIO'" [loading]="loading"/>
      </div>
    </form>
  </section>
  <section class="relative hidden flex-1 justify-evenly scale-75 lg:scale-100 md:flex md:flex-col md:items-center md:justify-center h-full filter drop-shadow-xl">
    <img class="absolute top-50 left-50 z-10" src="/assets/logo-catolica.png" alt="">
    <figure class="figure h-full cursor-pointer filter grayscale opacity-55 drop-shadow-sm">
    </figure>
  </section>
</div>