<div class="relative flex flex-col items-center justify-center h-full">
  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320" class="absolute top-0"><path fill="#1e429f" fill-opacity="1" d="M0,192L21.8,160C43.6,128,87,64,131,53.3C174.5,43,218,85,262,106.7C305.5,128,349,128,393,128C436.4,128,480,128,524,122.7C567.3,117,611,107,655,133.3C698.2,160,742,224,785,234.7C829.1,245,873,203,916,192C960,181,1004,203,1047,176C1090.9,149,1135,75,1178,64C1221.8,53,1265,107,1309,144C1352.7,181,1396,203,1418,213.3L1440,224L1440,0L1418.2,0C1396.4,0,1353,0,1309,0C1265.5,0,1222,0,1178,0C1134.5,0,1091,0,1047,0C1003.6,0,960,0,916,0C872.7,0,829,0,785,0C741.8,0,698,0,655,0C610.9,0,567,0,524,0C480,0,436,0,393,0C349.1,0,305,0,262,0C218.2,0,175,0,131,0C87.3,0,44,0,22,0L0,0Z"></path></svg>

  <div class="h-fit xl:w-1/2 md:w-1/2 flex flex-col items-center justify-center bg-white drop-shadow-2xl rounded-md p-5 z-30">
    <div class="w-full text-center">
      <h1 class="mb-4 text-3xl font-extrabold leading-none tracking-tight text-gray-900 md:text-4xl lg:text-5xl dark:text-white">Publicar edital</h1>
    </div>
    <form class="w-full" [formGroup]="form" (submit)="publishNotice()">
        <div class="form-page-1 w-full transition-all">
          <div class="mb-2">
            <label for="nome" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Nome do edital:<span class="text-red-700">*</span></label>
            <input formControlName="nome" type="text" id="nome" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Informe o nome do edital" required />
            @if (form.get('nome')?.touched) {
              @if (form.get('nome')?.errors?.['required']) {
                <small class="font-bold text-red-600">O campo é obrigatório</small>
              } @else if (form.get('nome')?.errors?.['minlength']) {
                <small class="font-bold text-red-600">Este campo deve ter no mínimo 5 dígitos</small>
              }
            }
          </div>
          <div class="mb-2">
            <label for="descricao" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Descrição do edital:<span class="text-red-700">*</span></label>
            <input formControlName="descricao" type="text" id="descricao" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Informe a descrição do edital" required />
          </div>
          @if (form.get('descricao')?.touched) {
            @if (form.get('descricao')?.errors?.['required']) {
              <small class="font-bold text-red-600">O campo é obrigatório</small>
            } @else if (form.get('descricao')?.errors?.['minlength']) {
              <small class="font-bold text-red-600">Este campo deve ter no mínimo 5 dígitos</small>
            }
          }
        </div>
        <div class="mb-5">
          <label id="pdf" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white" for="user_avatar">Enviar PDF:</label>
          <input class="block w-full text-sm text-gray-900 border border-gray-300 rounded-lg cursor-pointer bg-gray-50 dark:text-gray-400 focus:outline-none dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400" aria-describedby="user_avatar_help" id="pdf" type="file" accept="application/pdf" (change)="onFileChange($event)">
        </div>
        <button type="button" (click)="publishNotice()" class="text-white bg-gradient-to-r from-blue-500 via-blue-600 to-blue-700 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-blue-300 dark:focus:ring-blue-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2">Enviar edital</button>
    </form>
</div>