<div class="relative flex flex-col items-center justify-center h-full">

  <main class="flex-1 flex flex-col items-center justify-center text-center">
    <h1 class="text-6xl font-bold text-primary-color">Bem vindo ao NEPA</h1>
    <h2 class="text-3xl font-medium">Núcleo de Extensão e Pesquisa Acadêmica</h2>
    <img src="assets/logo-nepa.png" alt="Logo do NEPA" class="w-20 h-20 mt-8">
  </main>

  <footer>
    <p class="font-medium">&copy; - Faculdade Católica da Paraíba</p> 
  </footer>
</div>