#pdf {
  padding: 20px;
  margin: 0 auto;
  width: 100%;
}

.hidden {
  visibility: hidden;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.text-center {
  text-align: center;
  margin: 20px 0;
}

.titles {
  margin: 10px 0;
  line-height: 1.2;
}

.texts {
  margin: 10px 0;
  line-height: 1.5;
  font-size: 14px;
}

picture img {
  max-width: 100%;
  height: auto;
}
