<div class="h-full">
  <button data-drawer-target="default-sidebar" data-drawer-toggle="default-sidebar" aria-controls="default-sidebar" type="button" class="fixed top-2 left-2 items-center p-2 mt-2 ms-3 text-sm text-black rounded-lg lg:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600 z-20">
    <span class="sr-only">Open sidebar</span>
    <svg class="w-6 h-6" aria-hidden="true" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
    <path clip-rule="evenodd" fill-rule="evenodd" d="M2 4.75A.75.75 0 012.75 4h14.5a.75.75 0 010 1.5H2.75A.75.75 0 012 4.75zm0 10.5a.75.75 0 01.75-.75h7.5a.75.75 0 010 1.5h-7.5a.75.75 0 01-.75-.75zM2 10a.75.75 0 01.75-.75h14.5a.75.75 0 010 1.5H2.75A.75.75 0 012 10z"></path>
    </svg>
  </button>

  <aside id="default-sidebar" class="fixed top-0 left-0 z-40 w-64 transition-transform -translate-x-full lg:translate-x-0 drop-shadow-md" aria-label="Sidebar">
    <div class="flex flex-col items-start justify-center h-screen w-full px-3 py-4 overflow-y-auto bg-second-color dark:bg-gray-800">
        <a routerLink="/home" class="w-full flex items-center gap-2 pb-2 border-b">
          <img src="/assets/logo-nepa.png" width="36" alt="">
          <h3 id="drawer-navigation-label" class="text-lg font-poppins font-semibold text-primary-color uppercase dark:text-gray-400">NEPA</h3>
        </a>
        <div class="flex-1 w-full py-4 overflow-y-auto">
          <ul class="space-y-2 font-medium">
            <li>
              <button type="button" class="flex items-center w-full p-2 text-base text-gray-900 transition duration-75 rounded-lg group hover:bg-gray-200" aria-controls="dropdown-projects" data-collapse-toggle="dropdown-projects">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="flex-shrink-0 w-5 h-5 text-gray-900 transition duration-75 group-hover:text-gray-600">
                  <path fill-rule="evenodd" d="M7.502 6h7.128A3.375 3.375 0 0 1 18 9.375v9.375a3 3 0 0 0 3-3V6.108c0-1.505-1.125-2.811-2.664-2.94a48.972 48.972 0 0 0-.673-.05A3 3 0 0 0 15 1.5h-1.5a3 3 0 0 0-2.663 1.618c-.225.015-.45.032-.673.05C8.662 3.295 7.554 4.542 7.502 6ZM13.5 3A1.5 1.5 0 0 0 12 4.5h4.5A1.5 1.5 0 0 0 15 3h-1.5Z" clip-rule="evenodd" />
                  <path fill-rule="evenodd" d="M3 9.375C3 8.339 3.84 7.5 4.875 7.5h9.75c1.036 0 1.875.84 1.875 1.875v11.25c0 1.035-.84 1.875-1.875 1.875h-9.75A1.875 1.875 0 0 1 3 20.625V9.375ZM6 12a.75.75 0 0 1 .75-.75h.008a.75.75 0 0 1 .75.75v.008a.75.75 0 0 1-.75.75H6.75a.75.75 0 0 1-.75-.75V12Zm2.25 0a.75.75 0 0 1 .75-.75h3.75a.75.75 0 0 1 0 1.5H9a.75.75 0 0 1-.75-.75ZM6 15a.75.75 0 0 1 .75-.75h.008a.75.75 0 0 1 .75.75v.008a.75.75 0 0 1-.75.75H6.75a.75.75 0 0 1-.75-.75V15Zm2.25 0a.75.75 0 0 1 .75-.75h3.75a.75.75 0 0 1 0 1.5H9a.75.75 0 0 1-.75-.75ZM6 18a.75.75 0 0 1 .75-.75h.008a.75.75 0 0 1 .75.75v.008a.75.75 0 0 1-.75.75H6.75a.75.75 0 0 1-.75-.75V18Zm2.25 0a.75.75 0 0 1 .75-.75h3.75a.75.75 0 0 1 0 1.5H9a.75.75 0 0 1-.75-.75Z" clip-rule="evenodd" />
                </svg>
                <span class="flex-1 ms-3 text-left text-gray-900 group-hover:text-gray-600 transition duration-75 rtl:text-right whitespace-nowrap">Projetos</span>
                <svg class="w-3 h-3 text-gray-900 group-hover:text-gray-600 transition duration-75" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
                  <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 4 4 4-4"/>
                </svg>
              </button>
              <ul id="dropdown-projects" class="hidden py-2 space-y-2">
                <li *ngIf="subToken!.role == 'Admin'">
                  <a routerLink="/projetos-aprovados" [ngClass]="{'bg-gray-200': isRouteActive('/projetos-aprovados')}" class="flex items-center w-full p-2 text-gray-900 hover:text-gray-600 text-left transition duration-75 rounded-lg pl-11 group hover:bg-gray-200">Listar projetos</a>
                </li>
                <li *ngIf="subToken!.role == 'professor'">
                  <a routerLink="/meus-projetos" [ngClass]="{'bg-gray-200': isRouteActive('/meus-projetos')}" class="flex items-center w-full p-2 text-gray-900 hover:text-gray-600 text-left transition duration-75 rounded-lg pl-11 group hover:bg-gray-200">Ver meus projetos</a>
                </li>
                <li *ngIf="subToken!.role == 'professor'">
                  <a routerLink="/criar-projeto" [ngClass]="{'bg-gray-200': isRouteActive('/criar-projeto')}" class="flex items-center w-full p-2 text-gray-900 hover:text-gray-600 text-left transition duration-75 rounded-lg pl-11 group hover:bg-gray-200">Cadastrar projeto</a>
                </li>
                <li>
                  <a routerLink="/projetos-pendentes" [ngClass]="{'bg-gray-200': isRouteActive('/projetos-pendentes')}" *ngIf="subToken!.role == 'Admin'" class="flex items-center w-full p-2 text-gray-900 hover:text-gray-600 text-left transition duration-75 rounded-lg pl-11 group hover:bg-gray-200">Projetos pendentes</a>
                </li>
              </ul>
            </li>
            <li *ngIf="subToken?.role != 'aluno'">
              <button type="button" class="flex items-center w-full p-2 text-base text-gray-900 transition duration-75 rounded-lg group hover:bg-gray-200" aria-controls="dropdown-notice" data-collapse-toggle="dropdown-notice">
    
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="flex-shrink-0 w-5 h-5 text-gray-900 transition duration-75 group-hover:text-gray-600">
                  <path d="M7.5 3.375c0-1.036.84-1.875 1.875-1.875h.375a3.75 3.75 0 0 1 3.75 3.75v1.875C13.5 8.161 14.34 9 15.375 9h1.875A3.75 3.75 0 0 1 21 12.75v3.375C21 17.16 20.16 18 19.125 18h-9.75A1.875 1.875 0 0 1 7.5 16.125V3.375Z" />
                  <path d="M15 5.25a5.23 5.23 0 0 0-1.279-3.434 9.768 9.768 0 0 1 6.963 6.963A5.23 5.23 0 0 0 17.25 7.5h-1.875A.375.375 0 0 1 15 7.125V5.25ZM4.875 6H6v10.125A3.375 3.375 0 0 0 9.375 19.5H16.5v1.125c0 1.035-.84 1.875-1.875 1.875h-9.75A1.875 1.875 0 0 1 3 20.625V7.875C3 6.839 3.84 6 4.875 6Z" />
                </svg>
                
                <span class="flex-1 ms-3 text-left text-gray-900 group-hover:text-gray-600 transition duration-75 rtl:text-right whitespace-nowrap">Edital</span>
                <svg class="w-3 h-3 text-gray-900 group-hover:text-gray-600 transition duration-75" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
                  <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 4 4 4-4"/>
                </svg>
              </button>
              <ul id="dropdown-notice" class="hidden py-2 space-y-2">
                <li *ngIf="subToken?.role == 'Admin'">
                  <a routerLink="/publicar-edital" [ngClass]="{'bg-gray-200': isRouteActive('/publicar-edital')}" class="flex items-center w-full p-2 text-gray-900 hover:text-gray-600 text-left transition duration-75 rounded-lg pl-11 group hover:bg-gray-200">Publicar edital</a>
                </li>
                <li>
                  <a routerLink="/ver-editais" [ngClass]="{'bg-gray-200': isRouteActive('/ver-editais')}" class="flex items-center w-full p-2 text-gray-900 hover:text-gray-600 text-left transition duration-75 rounded-lg pl-11 group hover:bg-gray-200">Ver editais</a>
                </li>
              </ul>
            </li>
            <li *ngIf="subToken?.role == 'Admin'">
              <button type="button" class="flex items-center w-full p-2 text-base text-gray-900 transition duration-75 rounded-lg group hover:bg-gray-200" aria-controls="dropdown-teachers" data-collapse-toggle="dropdown-teachers">
    
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="flex-shrink-0 w-5 h-5 text-gray-900 transition duration-75 group-hover:text-gray-600">
                  <path d="M4.5 6.375a4.125 4.125 0 1 1 8.25 0 4.125 4.125 0 0 1-8.25 0ZM14.25 8.625a3.375 3.375 0 1 1 6.75 0 3.375 3.375 0 0 1-6.75 0ZM1.5 19.125a7.125 7.125 0 0 1 14.25 0v.003l-.001.119a.75.75 0 0 1-.363.63 13.067 13.067 0 0 1-6.761 1.873c-2.472 0-4.786-.684-6.76-1.873a.75.75 0 0 1-.364-.63l-.001-.122ZM17.25 19.128l-.001.144a2.25 2.25 0 0 1-.233.96 10.088 10.088 0 0 0 5.06-1.01.75.75 0 0 0 .42-.643 4.875 4.875 0 0 0-6.957-4.611 8.586 8.586 0 0 1 1.71 5.157v.003Z" />
                </svg>
                
                <span class="flex-1 ms-3 text-left text-gray-900 group-hover:text-gray-600 transition duration-75 rtl:text-right whitespace-nowrap">Professores</span>
                <svg class="w-3 h-3 text-gray-900 group-hover:text-gray-600 transition duration-75" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
                  <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 4 4 4-4"/>
                </svg>
              </button>
              <ul id="dropdown-teachers" class="hidden py-2 space-y-2">
                <li>
                  <a routerLink="/professores-aprovados" [ngClass]="{'bg-gray-200': isRouteActive('/professores-aprovados')}" class="flex items-center w-full p-2 text-gray-900 hover:text-gray-600 text-left transition duration-75 rounded-lg pl-11 group hover:bg-gray-200">Professores aprovados</a>
                </li>
                <li>
                  <a routerLink="/aprovar-professor" [ngClass]="{'bg-gray-200': isRouteActive('/aprovar-professor')}" class="flex items-center w-full p-2 text-gray-900 hover:text-gray-600 text-left transition duration-75 rounded-lg pl-11 group hover:bg-gray-200">Professores pendentes</a>
                </li>
              </ul>
            </li>
          </ul>
        </div>
        <div class="flex items-center bg-white rounded-full w-full px-4 py-2 mb-4 drop-shadow-md">
          <div class="flex-shrink-0">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-8">
              <path fill-rule="evenodd" d="M18.685 19.097A9.723 9.723 0 0 0 21.75 12c0-5.385-4.365-9.75-9.75-9.75S2.25 6.615 2.25 12a9.723 9.723 0 0 0 3.065 7.097A9.716 9.716 0 0 0 12 21.75a9.716 9.716 0 0 0 6.685-2.653Zm-12.54-1.285A7.486 7.486 0 0 1 12 15a7.486 7.486 0 0 1 5.855 2.812A8.224 8.224 0 0 1 12 20.25a8.224 8.224 0 0 1-5.855-2.438ZM15.75 9a3.75 3.75 0 1 1-7.5 0 3.75 3.75 0 0 1 7.5 0Z" clip-rule="evenodd" />
            </svg>
          </div>
          <div class="flex-1 min-w-0 ms-4 truncate">
              <p class="text-sm font-medium text-gray-900 truncate dark:text-white">
                  {{subToken?.email}}
              </p>
              <p class="text-sm text-gray-500 truncate dark:text-gray-400">
                {{subToken?.role}}
              </p>
          </div>
        </div>
        <button (click)="logout()" class="w-full flex items-center justify-center gap-2 text-white bg-gradient-to-r from-blue-500 via-blue-600 to-blue-700 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-blue-300 dark:focus:ring-blue-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-6">
            <path fill-rule="evenodd" d="M7.5 3.75A1.5 1.5 0 0 0 6 5.25v13.5a1.5 1.5 0 0 0 1.5 1.5h6a1.5 1.5 0 0 0 1.5-1.5V15a.75.75 0 0 1 1.5 0v3.75a3 3 0 0 1-3 3h-6a3 3 0 0 1-3-3V5.25a3 3 0 0 1 3-3h6a3 3 0 0 1 3 3V9A.75.75 0 0 1 15 9V5.25a1.5 1.5 0 0 0-1.5-1.5h-6Zm10.72 4.72a.75.75 0 0 1 1.06 0l3 3a.75.75 0 0 1 0 1.06l-3 3a.75.75 0 1 1-1.06-1.06l1.72-1.72H9a.75.75 0 0 1 0-1.5h10.94l-1.72-1.72a.75.75 0 0 1 0-1.06Z" clip-rule="evenodd" />
          </svg>
          @if (loading) {
            <div role="status">
              <svg
                aria-hidden="true"
                class="w-5 h-5 text-gray-200 animate-spin fill-blue-600"
                viewBox="0 0 100 101"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M100 50.5908C100 78.2051 77.6142 100.591 50 100.591C22.3858 100.591 0 78.2051 0 50.5908C0 22.9766 22.3858 0.59082 50 0.59082C77.6142 0.59082 100 22.9766 100 50.5908ZM9.08144 50.5908C9.08144 73.1895 27.4013 91.5094 50 91.5094C72.5987 91.5094 90.9186 73.1895 90.9186 50.5908C90.9186 27.9921 72.5987 9.67226 50 9.67226C27.4013 9.67226 9.08144 27.9921 9.08144 50.5908Z"
                  fill="currentColor"
                />
                <path
                  d="M93.9676 39.0409C96.393 38.4038 97.8624 35.9116 97.0079 33.5539C95.2932 28.8227 92.871 24.3692 89.8167 20.348C85.8452 15.1192 80.8826 10.7238 75.2124 7.41289C69.5422 4.10194 63.2754 1.94025 56.7698 1.05124C51.7666 0.367541 46.6976 0.446843 41.7345 1.27873C39.2613 1.69328 37.813 4.19778 38.4501 6.62326C39.0873 9.04874 41.5694 10.4717 44.0505 10.1071C47.8511 9.54855 51.7191 9.52689 55.5402 10.0491C60.8642 10.7766 65.9928 12.5457 70.6331 15.2552C75.2735 17.9648 79.3347 21.5619 82.5849 25.841C84.9175 28.9121 86.7997 32.2913 88.1811 35.8758C89.083 38.2158 91.5421 39.6781 93.9676 39.0409Z"
                  fill="currentFill"
                />
              </svg>
            </div>
          } @else {
            Sair    
          }
        </button>
    </div>
  </aside>
  
  <div class="lg:ml-64 h-full overflow-y-hidden">
    <div class="rounded-lg dark:border-gray-700 h-full">
      <ng-content></ng-content>
    </div>
  </div>
</div>



